doctype html
html(lang="kor")
    head 
        meta(charset="utf-8")
        link(rel="stylesheet", href="style.css")
    body 
        div(class="window")
            main(class="sidebar")
                a(href="/note", type="button") Home
                section(style="display: flex")
                    form(action="/note") 
                        input(list = "tag", id="search", style="flex:70%", onfocus="this.value=''", name="search")
                        datalist(id="tag")
                            -for(let i=0;i<data.length;i++) 
                                option(value=data[i].name)=data[i].name
                        button(style="flex:30%", id="searchBtn", type="submit" ) 검색 
                section(class="checkbox")
                    input(id="chk_html", type="checkbox")
                    label(for="chk_html") HTML                       
                section(class="checkbox")
                    input(id="chk_css", type="checkbox")
                    label(for="chk_css") CSS                     
                section(class="checkbox")
                    input(id="chk_js", type="checkbox")
                    label(for="chk_js") JS
                //- form(action=`/note`)
                //-     input(type="hidden", value="edit" name='edit')
                button(id="editButton") edit
                button(id="new") new
                //- form(action="/delete") 
                button(id="delete", value=`${data[index].name}`) delete
                button(id="getSize") size
                textarea(id="getSize" rows=10) 
                p(id="showSize")
            main(class="main")
                section(class="description")
                    h1(id="name", class="temp")=data[index].name
                    h3(id="gram", class="temp")=data[index].gram
                    p(id="desc", class="temp")=data[index].desc
                    p 
                        a(href="javascript:void(0)" class="display" id="property") property
                    p
                        a(href="javascript:void(0)" class="display" id="sample") sample
                    p
                        a(href="javascript:void(0)" class="display" id="externalLink") externalLink
                //- section(id="division" width="1px" style="background-color: rgb(134, 125, 115); border: 1px solid black;" class="resize")        
                section(class="example") 
                    iframe(src="", frameborder="0", id="iframe", style="flex:50%")
                    div(id="popUpDescription", style="flex:50%", class="temp")=data[index].property
        script(src="scriptnode.js", type="text/javascript") 
                 
